@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700;900&display=swap");

@font-face {
  font-family: Sugar;
  src: url(/SugarpunchDEMO.otf);
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
}

.sugar {
  font-family: Sugar,  sans-serif;
}
